<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.illinois.ncsa.ergo.gis.locationCountries">
      <locationCountry
            class="com.uwiseismic.gis.location.tobago.Tobago"
            id="com.uwiseismic.gis.location.tobago.Tobago"
            name="Tobago"
            tag="com.uwiseismic.gis.location.tobago.Tobago">
      </locationCountry>
   </extension>
   <extension
         point="edu.illinois.ncsa.ergo.gis.locationFactories">
      <locationFactory
            class="com.uwiseismic.gis.location.tobago.TobagoLocationFactory"
            id="com.uwiseismic.gis.location.tobago.Tobago"
            name="Tobago Location Factory"
            tag="com.uwiseismic.gis.location.tobago.Tobago">
      </locationFactory>
   </extension>

</plugin>
