temp
tt&gren_roi
workspace/adummy
workspace/adummytwo
workspace/backup
runtime-edu.psu.cms.gis2defnode.application
runtime-edu.psu.ems.gis2defnode.application
runtime-edu.psu.ems.testrcp.application
ERGO_caribeviz_workspace.zip
graphhopper-master_20240417.zip
git
ancient_maven_required_packages/.m2/repository/.cache
workspace/com.uwiseismic.ergo.buildingclassificaton/debug_bmcmc_output
