<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.illinois.ncsa.ergo.gis.locationCountries">
      <locationCountry
            class="com.uwiseismic.gis.location.trinidad.Trinidad"
            id="com.uwiseismic.gis.location.trinidad.Trinidad"
            name="Trinidad"
            tag="com.uwiseismic.gis.location.trinidad.Trinidad">
      </locationCountry>
   </extension>
   <extension
         point="edu.illinois.ncsa.ergo.gis.locationFactories">
      <locationFactory
            class="com.uwiseismic.gis.location.trinidad.TrinidadLocationFactory"
            id="com.uwiseismic.gis.location.trinidad.Trinidad"
            name="Trinidad Location Factory"
            tag="com.uwiseismic.gis.location.trinidad.Trinidad">
      </locationFactory>
   </extension>

</plugin>
