<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="edu.illinois.ncsa.ergo.gis.locationFactories">
      <locationFactory
            class="com.uwiseismic.gis.location.dominica.DominicaLocationFactory"
            id="com.uwiseismic.gis.location.dominica.Dominica"
            name="Dominica Location Factory"
            tag="com.uwiseismic.gis.location.dominica.Dominica">
      </locationFactory>
   </extension>
   <extension
         point="edu.illinois.ncsa.ergo.gis.locationCountries">
      <locationCountry
            class="com.uwiseismic.gis.location.dominica.Dominica"
            id="com.uwiseismic.gis.location.dominica.Dominica"
            name="Dominica"
            tag="com.uwiseismic.gis.location.dominica.Dominica">
      </locationCountry>
   </extension>

</plugin>
